<!DOCTYPE html>
<html>
  <head>
    <title>Cakes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <% if flash[:error].present? %>
    <div class="col-10 offset-1 alert alert-danger">
      <%= flash[:error].html_safe %>
    </div>
  <% end %>
    <%= yield %>
  </body>

  
  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-3">
          <b>Contact</b>
          <br />
          kareembyrd@gmail.com
          <br />
          One Development Plaza
          <br />
          Washington DC, 20020
        </div>
        <div class="col-12 col-sm-3 social">
          <b>Social</b>
          <br />
          <br />
          <%= link_to 'https://github.com/kajbizzle' do %>
            <span class="fa fa-github-square fa-2x social-button"></span>
          <% end %>
          <span class="fa fa-facebook-square fa-2x social-button"></span>
          <span class="fa fa-twitter-square fa-2x social-button"></span>
        </div>
      </div>
    </div>
  </div>
</html>
